/* .HomeCorousel1{
    display: flex;
    justify-content: center;
    
}
.homeCorousel1Body{
    display: flex;
    justify-content: space-around;
    width: 80%;
    overflow: hidden;
    margin-top: 1vw;
}
.homeCorousel1BodyItem{
    margin-left:1.4vw;
    margin-right: 1.4vw;
}
.homeCorousel1BodyItem p{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 110px;
    left: 130px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
    margin:0;
    padding: 0;
    }
.homeCorouselIcoChev{
    position: absolute;
    top:120px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.homeIconChev{
    margin: 0 4vw 0 4vw;
    color: white;
}
.homeCorousel1BodyItem img{
    border-radius: 6px;
}

@media only screen and (max-width:900px){
    .homeCorouselIcoChev{
        top: 80px;
    }
}
@media only screen and (max-width:600px){
    .homeCorousel1Body{
        width: 90%;
    }
    .homeCorouselIcoChev{
        top: 80px;
    }
}

@media only screen and (max-width: 375px){
    .homeCorousel1Body{
        width:95%;
    }
    .homeCorouselIcoChev{
        top: 85px;
    }
} */
/* .homeCorouseContainer{
    display: flex;
    justify-content: center;
}
.homeCorousel1{
    width: 80%;
    display: flex;
    justify-content: center;
    background: grey;
}
.homeCorousel1Body{
    display: flex;
    justify-content: start;
}
.homeCorousel1Active{
    display: flex !important;
    justify-content: space-around !;
} */
.homeCorouselOne{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}